<configuration debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %d{HH:mm:ss.SSS} [%thread] %logger{24} [%F:%L] - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  <logger level="DEBUG" name="in.kashyapp.horde.RedisPipeline" />
</configuration>